<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../Static/Style.css">
</head>
<body>
    <div class="main">
        <img class = "logo" src="../IMG/logoUMC.svg" alt="Logo UMC">
        <h2>Portal do Aluno</h2>
        <input class = "entrada" type="text" placeholder="RGM">
        <input class = "entrada" type="text" placeholder="Senha">
        <br>
        <input class = "btnacessar" type="button" value="Acessar">
        <br>
        <a href="">Esqueceu sua senha/ Primeiro acesso</a>
    </div>
</body>
</html>